{% extends "base.html" %}
{% block title %}{{test.name}}{% endblock %}
{% block head %}
	{{ super() }}
	<title>{{test.name}}</title>
	<style>
	.question-text {
		font-size: 18px;
	}
	</style>
	<script>
		
	</script>
{% endblock %}
{% block content %}
	{% for question in questions %}
		<div class=content-block>
			<div class=question-text>{{ question.question_text }}  </div>
			{% if question.question_type == "ONE_ANSWER" %}
				<div class="answers">
					{% for answer in question.answers %}
						{% if answer.chosen %}
							<p><input type="radio" name="{{question.id}}" value="{{answer.id}}" disabled checked> {{ answer.answer_text }} </p>
						{% else %}
							<p><input type="radio" name="{{question.id}}" value="{{answer.id}}" disabled> {{ answer.answer_text }}</p>
						{% endif %}
					{% endfor %}
				</div>
			{% elif question.question_type == "MANY_ANSWERS" %}
				<div class="answers">
					{% for answer in question.answers %}
						{% if answer.chosen %}
							<p><input type="checkbox" name="{{question.id}}" value="{{answer.id}}" disabled checked> {{ answer.answer_text }}</p>
						{% else %}
							<p><input type="checkbox" name="{{question.id}}" value="{{answer.id}}" disabled> {{ answer.answer_text }}</p>
						{% endif %}
					{% endfor %}
				</div>
			{% elif question.question_type == "INPUT_ANSWER" %}
				<div class="answers">
					<p><input type="input" name="{{question.id}}" value="{{ question.answers[0].chosen }}" disabled></p>
				</div>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}