{% extends "base.html" %}
{% block head %} 
  {{ super() }}
  <title>Регистрация</title>
  <style type="text/css">
    .form-element-button {
    border-radius: 13px;
      height: 30px;
      margin: 10px 0;
      width: 190px;
      background: #f7f7f7;
      border-color: #aaaaaa;
      border-style: solid;
      font-size: 15px;
  }
  .form-element input
  {
    border-radius: 13px;
      margin: 10px 0;
      height: 20px;
      background: #fdfdfd;
      border-color: #aaaaaa;
      border-style: solid;
      font-size: 15px;
  }
  </style>
{% endblock %}
{% block title %}Регистрация{% endblock %}
{% block content %}
	<div class="content-block">
  	<form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <p class="form-element">
          Логин:<br>
          {{form.login(size=50)}}
          {% for error in form.errors.login %}
          <span class="error">[{{error}}]</span>
          {% endfor %}<br>
        </p>
        <p class="form-element">
          Имя:<br>
          {{form.first_name(size=50)}}
          {% for error in form.errors.name %}
          <span class="error">[{{error}}]</span>
          {% endfor %}<br>
        </p>
        <p class="form-element">
          Фамилия:<br>
          {{form.last_name(size=50)}}
          {% for error in form.errors.name %}
          <span class="error">[{{error}}]</span>
          {% endfor %}<br>
        </p>
        <p class="form-element">
          Пароль:<br>
          {{form.password(size=50)}}
          {% for error in form.errors.password %}
          <span class="error">[{{error}}]</span>
          {% endfor %}<br>
        </p>
        <p class="form-element">
          Подтвердите пароль:<br>
          {{form.double_password(size=50)}}
          {% for error in form.errors.double_password %}
          <span class="error">[{{error}}]</span>
          {% endfor %}
        </p>
        <input class="form-element-button" size="200" type="submit" value="Зарегистрироваться">
      </form>
   	</div>
{% endblock %}